# Arquivos e diretórios do sistema operacional
.DS_Store
Thumbs.db

# Ambientes virtuais
venv/
.venv/
env/
.env/

# Arquivos de cache do Python
__pycache__/
*.py[cod]

# Ignorar arquivos CSV temporários fora da pasta de dados
!01-Base-de-Dados/*.csv
*.csv

# Logs e arquivos temporários
*.log
*.tmp

# Arquivos de notebooks com saídas 
*.ipynb_checkpoints/

# Pastas e arquivos do Jupyter
.ipynb_checkpoints/
.jupyter/
